@charset "ISO-8859-1";
#homepage2{
	margin: auto; 
	padding: 20px 0; 
	font-family: arial; 
	text-align: center;
}
#homepage2 form input[type='submit']{
	background: #fff;
	color: #000;
	font-style: italic;
}
#homepage2 form input[type='submit']:hover{
	background: #fff;
	color: #808000;
}