@charset "ISO-8859-1";

body {
	margin: 50px auto;
	width: 500px;
	text-align: center;
	color: red;
}

form {
	text-align: center;
	background: #f2f2f2;
	padding: 10px;
}

form input {
	margin-bottom: 10px;
}